@import "./temaB";

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.conteiner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box1 {
  @include box($color-principal);
}

.box2 {
  @include box($color-secundary);
}

.box3 {
  @include box($color-third);
}

.font1 {
  @include font1;
}

.font2 {
  @include font2;
}

.box-shadow {
  @include shadow;
}
